<header class="header">
  <h1>Sign In</h1>
</header>

<%= form_for :session, url: session_path do |form| %>
  <div class="form-inputs">
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <%= form.label :email %>
      </div>
      <div class="field-unit__field">
        <%= form.email_field :email %>
      </div>
    </div>

    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <%= form.label :password %>
      </div>
      <div class="field-unit__field">
        <%= form.password_field :password %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
