%h3= "Account Activation for #{resource.email}"

= simple_form_for resource, as: resource_name, url: update_user_confirmation_path, html: {method: 'put'}, id: 'activation-form' do |f|
  = devise_error_messages!
  = inputs_field_set do
    %ol
      - if @requires_password
        = f.input :password, :label 'Choose a Password'
        = f.input :password_confirmation, :label 'Confirm Password'
      = hidden_field_tag :confirmation_token, @confirmation_token
  = f.actions do
    = f.submit "Activate"
