= simple_form_for [:admin, photo] do |f|
  %ul.categories
    - @categories.each do |photo_category|
      %li
        = check_box_tag 'photo[category_ids][]', photo_category.id, @photo.categories.include?(photo_category), id: "photo_category_ids_#{photo_category.id}"
        = label_tag "photo_category_ids_#{photo_category.id}", photo_category.name

  = inputs_field_set do
    = f.input :image, as: :file
    = f.input :title
    = f.input :description
    = f.input :flickr_url
    = f.input :featured
    = f.input :enabled
    = f.input :taken_at
  = actions_field_set do
    = f.submit
