<%= render 'shared/photo_styles', photos: @photos, size: 17 %>

<% content_for :navigation do %>
  <%= render 'shared/main_nav' %>
<% end %>

<% if @photos.first.present? %>
  <div class="sg-17 photo" id="<%= @photos.first.name.parameterize %>">
    <%= link_to_photo @photos.first %>
  </div>
<% end %>

<div class="sg-5" style="background: #333;">
</div>
<div class="sg-5" style="background: #555;">
</div>
<div class="sg-5 contact">
  <%= link_to content_tag(:span, 'contact'), new_contact_path %>
</div>
