<%= render 'shared/photo_styles', photos: [@photo], size: 17 %>

<% content_for :navigation do %>
  <%= render 'shared/main_nav' %>
<% end %>

<% if @photo %>
  <div class="sg-17 photo" id="<%= @photo.name.parameterize %>">
    <%= link_to_photo @photo %>
  </div>
<% end %>

<div class="sg-5" style="background: #333;">
</div>
<div class="sg-5" style="background: #555;">
</div>
<div class="sg-5 contact">
  <%= link_to raw('<span>contact</span>'), new_contact_path %>
</div>
