	<div class="sg-5 about">
		<%= link_to raw('<span>about</span>'), about_url %>
	</div>
	<div class="sg-5 portfolio">
		<%= link_to raw('<span>portfolio</span>'), :controller => 'categories' %>
	</div>
</div>

<% if @photo %>
<div class="sg-17 photo" style="background: url('<%= @photo.photo.url(:size17) %>')">
	<%= link_to '', @photo.photo.url, :rel => 'photo', :class => 'fancy' %>
</div>
<% end %>

<div class="sg-5" style="background: #333;">
</div>
<div class="sg-5" style="background: #555;">
</div>
<div class="sg-5 contact">
	<%= link_to raw('<span>contact</span>'), new_contact_url %>
</div>
