	<div class="sg-5 about">
		<%= link_to raw('<span>about</span>'), about_url %>
	</div>
	<div class="sg-5 portfolio">
		<%= link_to raw('<span>portfolio</span>'), :controller => 'categories' %>
	</div>
</div>

<div class="sg-17 contact-form">
	<%= form_for :contact, :url => { :action => 'create' } do |f| %>
	<% if flash[:notice] -%>
		<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
	<% if flash[:alert] -%>
		<div id="alert"><%= flash[:alert] %></div>
	<% end -%>
		<p>Please use the form below to contact me.</p>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :subject %>
			<%= f.text_field :subject %>
		</p>
		<p>
			<%= f.label :message %>
			<%= f.text_area :message %>
		</p>
		<p>
			<%= f.label raw('&nbsp;') %>
			<%= f.submit 'Send Message' %>
		</p>
	<% end %>
</div>

<div class="sg-5" style="background: #333;">
</div>
<div class="sg-5" style="background: #555;">
</div>
<div class="sg-5" style="background: #777;">
</div>
