!!!
%html
  %head
    %title= "#{APP_CONFIG['name']} Admin"
    = stylesheet_link_tag    'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tag

  %body
    #page
      %header{ role: 'banner' }= render 'admin/shared/header'
      = render 'shared/flash_messages'
      = yield
      %footer{ role: 'footer' }= render 'admin/shared/footer'
