!!!
%html
  %head
    %title Pixelhum Admin
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tag
  
  %body
    #page
      %header{ :role => "banner" }= render :partial => "admin/shared/header"
      = render :partial => "shared/flash_messages"
      = yield
      %footer{ :role => "footer" }= render :partial => "admin/shared/footer"