<%= render 'shared/photo_styles', photos: @photos, size: 11 %>

<% content_for :navigation do %>
  <div class="sg-5 page-links">
    <% if !@categories.first_page? -%>
      <%= link_to content_tag(:div, e(:larr)), { page: @categories.prev_page }, class: 'prev-link' %>
    <% end %>
  </div>
  <div class="sg-5 page-links">
    <% if !@categories.last_page? -%>
      <%= link_to content_tag(:div, e(:rarr)), { page: @categories.next_page }, class: 'next-link' %>
    <% end %>
  </div>
<% end %>

<% @photos.each do |photo| %>
  <div class="sg-11 photo" id="<%= photo.name.parameterize %>">
    <%= link_to_photo photo %>
  </div>
<% end %>

<% @categories.each do |category| %>
  <div class="category sg-5" style="background: <%= category.base_colour %>">
    <%= link_to content_tag(:h3, h(category.name.downcase)), category_photos_path(category) %>
  </div>
<% end %>

<% @num_blank.times do %>
  <div class="sg-5 photo blank-photo">
  </div>
<% end %>
