<!doctype HTML>
<html lang="en">

  <head>
    <title><%= page_title(@page_title) %></title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="keywords" content="photography, images, landscapes" />
    <meta name="description" content="The photography portfolio of Dan Barber" />
    <meta name="language" content="English" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render :partial => "shared/typekit" %>
  </head>

  <body>

    <div id="page">

      <div id="wrapper">
        <div id="container">

          <div class="sgParent sg-12">
            <header class="sg-11">
              <%= link_to image_tag(asset_url('title.svg'), :alt => 'Dan Barber Photography', :width => 236), '/' %>
            </header>

            <%= yield :navigation %>
          </div>
          <div class="sg-24 sgParent">
            <%= yield %>

            <footer class="sg-35">
              &copy; 2014 Dan Barber
            </footer>
          </div>
        </div>

      </div>

      <%= render :partial => 'shared/analytics' if Rails.env.production? %>

    </body>

  </html>
