<!doctype HTML>
<html lang="en">

    <head>
        <title>Dan Barber Photography</title>
		<meta http-equiv="Content-Type" content="text/html" />
		<meta name="keywords" content="photography, images, landscapes" />
		<meta name="description" content="The photography portfolio of Dan Barber" />
		<meta name="language" content="English" />
        <%= stylesheet_link_tag "squaregrid", :media => "all" %>
        <%= stylesheet_link_tag "photos", :media => "all" %>
        <%= stylesheet_link_tag "fancybox", :media => "all" %>
        <%= stylesheet_link_tag "scrollbars", :media => "screen" %>
        <%= javascript_include_tag 'jquery', 'jquery.validate', 'jrails', 'fancybox', 'photos' %>
    </head>

    <body>
	
		<div id="page">

	        <div id="wrapper">
	            <div id="container">
				
					<div class="sgParent sg-12">

	                	<div id="header" class="sg-11">
							<%= link_to image_tag('title.png', :alt => 'Dan Barber Photography'), '/' %>
						</div>
                
	                	<%= yield %>
	
						<div id="footer" class="sg-35">
							<p>&copy;2010 dan barber</p>
						</div>

	            </div>
	        </div>

		</div>

    </body>

</html>
